<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="/dashboard">Edit Post</a>
                    </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                            <p class="log text-tan">Hey, <%= @user.first_name %></p>
                            </li>
                            <li class="nav-item">
                                    
                                        <a class="nav-link log" href="/logout" onclick="return confirm('Are you sure?')"><i class="fas fa-sign-out-alt left" style="
                                        line-height: unset;
                                    "></i><span>Logout</span></a>
                                                                    
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- Content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-md-11">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit Your Post</h4>
                        </div>
                        <div class="card-body">
                            <form class="row" method="POST" action="/post/<%= @post.id %>">
                            <input type="hidden" name="_method" value="PUT">
                                <div class="col-md-7">
                                    <div class="row m-0">
                                        <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <p><input class="form-control mr-sm-2"  type="text" name="title" value="<%= @post.title %>" placeholder="Enter Title Here"></p>
                                            </div>
                                        </div> 
                                        </div>  <!-- row1 -->  

                                    <div class="row m-0">
                                        <div class="col-md-12">
                                                <div class="form-group ">
                                                    <textarea class="form-control mt-5 " rows="4" name="content" value="<%= @post.content%>" placeholder="Enter Text Here"><%= @post.content%></textarea>
                                                </div>
                                        </div> 
                                    </div> <!-- row2 -->
                                    <div class="col-md-12 text-right">
                                    <button type="submit" class="btn mt-5">Update</button>
                                </div>
                                        
                                </div>  <!-- col-md-7 -->

                                <div class="col-md-5">
                                <div class="card card-profile">
                                    <div class="card-body">
                                        <div class="row m-0">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h6>Featured Image</h6>
                                                    <p><input class="form-control mr-sm-2"  type="text" name="featured_img" value="<%= @post.featured_img%>" placeholder="Enter image url"></p>
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="row m-0">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h6>Tags</h6>
                                                    <% if @tags %>
                                                    <% @tags.each do |tag| %>
                                                      <%= tag.name %>
                                                      <input type="checkbox" id="postTags" name="tag[tag_ids]" value="<%= tag.id %>"><br>
                                                    <% end %>
                                                  <% end %>
                                                </div>
                                            </div> 
                                            <div class="col-md-12">
                                            <div class="form-group bmd-form-group">
                                                <p><input class="form-control mr-sm-2"  type="text" name="tags" id="postTags" placeholder="tags"></p>
                                            </div>
                                    </div>
                                        </div> 
                                    </div>
                                </div>
                            </div> <!-- col-md-5 -->
                                </div><!-- row -->
                                
                            </form>
                            <form method="POST" action="/post/<%= @post.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn mt-5" value="delete" type="submit" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
</form>
                        </div>
                    </div>
                </div> 
                
            </div><!-- row -->
        </div> <!-- container-fluid -->
    </div> <!-- content -->
</div>  <!-- main -->